<app-cash-movements-list-toolbar
  (onAddCashMovementEvent)="onAddCashMovement()"
  (onSearchCashMovementsEvent)="onSearchCashMovements($event)"
  (onReloadCashMovementsEvent)="onReloadCashMovements()"
  [categories]="this.categories"
  [isCashMovementSearchFiltered]="this.isCashMovementSearchFiltered"
></app-cash-movements-list-toolbar>

<mat-grid-list cols="1" rowHeight="fit" class="external-grid-list">
  <mat-grid-list
    cols="6"
    rowHeight="100"
    *ngFor="let cashMovement of cashMovementList$ | async"
  >
    <mat-grid-tile>
      <img
        class="category-image"
        matListItemAvatar
        [src]="getCategoryById(cashMovement.categoryId).iconUrl"
        alt="cash movement icon"
    /></mat-grid-tile>

    <mat-grid-tile>
      <p>
        {{ getCategoryById(this.cashMovement.categoryId).name }}
      </p></mat-grid-tile
    >

    <mat-grid-tile>
      <p class="date">
        {{ cashMovement.date | date : "dd MMM" }}
      </p></mat-grid-tile
    >

    <mat-grid-tile>
      <p>{{ cashMovement.description }}</p></mat-grid-tile
    >

    <mat-grid-tile
      ><p class="amount">
        {{ cashMovement.amount | currency : "EUR" }}
      </p></mat-grid-tile
    >

    <mat-grid-tile>
      <button color="primary" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          aria-label="Edit button"
          (click)="onEditCashMovement(cashMovement)"
        >
          <mat-icon class="theme-color">settings</mat-icon>
          <span>Modifica</span>
        </button>
        <button
          mat-menu-item
          aria-label="Edit button"
          class="delete-button"
          (click)="onDeleteCashMovement(cashMovement.cashMovementId)"
        >
          <mat-icon class="delete-color">delete</mat-icon>
          <span class="delete-color">Elimina</span>
        </button>
      </mat-menu>
    </mat-grid-tile>

    <mat-divider></mat-divider>
  </mat-grid-list>
</mat-grid-list>
