.category-image {
  max-width: 48px;
  max-height: 48px;
}

.theme-color {
  color: #009688;
}

.delete-color {
  color: white;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: rgb(223, 20, 20);
}


.table {
  border: 1px solid lightgray;
}

table td,
table th {
  padding: 16px 16px;
}

.description-content {
  display: flex;
  flex-direction: column;
}

.description-subtitle {
  font-weight: 200;
  font-size: 11px;
  text-transform: uppercase;
}

.description-text {
  font-weight: 400;
}
