.category-image {
  max-width: 48px;
  max-height: 48px;
}

.external-grid-list {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: 15%;
  margin-right: 15%;
}

.theme-color {
  color: #009688;
}

.delete-button{
  background-color: red;
}

.delete-color {
  color: white;
}

.delete-button:hover{
  background-color: rgb(223, 20, 20);
}
