<mat-toolbar color="primary">
  <span>Finealth</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="icon-button with home icon" (click)="onHomeIconClick()">
    <mat-icon color="primary">home</mat-icon>
  </button>
  <button mat-icon-button aria-label="icon-button with login icon" (click)="onAccountIconClick()">
    <mat-icon color="primary">person</mat-icon>
  </button>
  <button mat-icon-button aria-label="icon-button with menu icon">
    <mat-icon color="primary">menu</mat-icon>
  </button>
</mat-toolbar>
