<app-navbar></app-navbar>

<mat-drawer-container *ngIf="showSideNav" class="drawer-container" autosize>
  <mat-drawer
    #drawer
    mode="side"
    class="drawer"
    disableClose="true"
    [opened]="true"
    (opened)="isDrawerOpen = true"
    (closed)="isDrawerOpen = false"
  >
  <mat-nav-list class="sidenav-list">

    <mat-list-item class="sidenav-list-item" (click)="onHomeIconClick()">
      <mat-icon color="primary">home</mat-icon>
      <p>HOME</p>
    </mat-list-item>

    <mat-list-item class="sidenav-list-item" (click)="onMovementsIconClick()">
      <mat-icon color="primary">attach_money</mat-icon>
      <p>MOVIMENTI</p>
    </mat-list-item>

    <mat-list-item class="sidenav-list-item" (click)="onCategoriesIconClick()">
      <mat-icon color="primary">list</mat-icon>
      <p>CATEGORIE</p>
    </mat-list-item>

  </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet *ngIf="!showSideNav"></router-outlet>
