<app-categories-list-toolbar
  (onAddCategoryEvent)="onAddCategory()"
></app-categories-list-toolbar>

<table mat-table [dataSource]="categories$ | sortBy: 'name' : 'asc' " class="table">
  <!-- Category Img Column -->
  <ng-container matColumnDef="categoryImg">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let category">
      <img
        class="category-image"
        matListItemAvatar
        [src]="category.iconUrl"
        alt="category icon"
      />
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let category">
      <span>{{ category.name }}</span>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let category">
      <button color="primary" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          aria-label="Edit button"
          (click)="onEditCategory(category)"
        >
          <mat-icon class="theme-color">settings</mat-icon>
          <span>Modifica</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
