<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrizione</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ammontare</mat-label>
      <input matInput type="number" formControlName="amount" />
      <mat-error>Per favore inserisci un ammontare.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select name="categoryId" formControlName="categoryId">
        <mat-option
          *ngFor="let category of categories"
          [value]="category.categoryId"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error>Per favore inserisci una categoria.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancella</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmitFormEvent()"
  >
    {{ submitButtonText }}
  </button>
</div>
