<div class="toolbar">
  <div class="toolbar-row">
    <mat-form-field appearance="outline">
      <mat-date-range-input [rangePicker]="picker" [max]="endDateValue">
        <input
          matStartDate
          placeholder="Start date"
          [formControl]="startDate"
        />
        <input matEndDate placeholder="End date" [formControl]="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="toolbar-row">
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedCategory">
        <mat-option [value]="this.allCategory">{{
          this.allCategory.name
        }}</mat-option>
        <mat-option
          *ngFor="let category of this.categories"
          [value]="category"
          >{{ category.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="toolbar-row">
    <div class="actions-container">
      <button
        *ngIf="this.isCashMovementSearchFiltered"
        mat-icon-button
        color="primary"
        aria-label="Reload button"
        (click)="onReloadCashMovements()"
      >
        <mat-icon>refresh</mat-icon>
      </button>

      <button
        mat-icon-button
        color="primary"
        aria-label="Search button"
        (click)="onSearchCashMovements()"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button
        class="add-cashMovement-button"
        mat-icon-button
        color="primary"
        aria-label="Add button"
        (click)="onAddCashMovement()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
